name: Scorecard

on:
  branch_protection_rule:
  schedule:
    - cron: "33 5 * * 1"
  push:
    branches: [main]

permissions: read-all

jobs:
  analysis:
    name: Scorecard analysis
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      id-token: write
      contents: read
      actions: read
      pull-requests: read
      checks: read
      issues: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Run OpenSSF Scorecard checks
        uses: ossf/scorecard-action@v2.4.3
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: true

      - name: Upload SARIF results to GitHub code scanning
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: results.sarif
